/* 要素共通 */
body {
  background: #d5d9da;
  color: #fff;
}

h1 {
  text-align: center;
}

a {
  display: block;
  border-radius: 4px;
  transition: 1.2s;
  padding: 4px 8px;
  text-decoration: none;
  color: #1ee96cc4;
}

a:hover {
  background: #07421e;
  color: #fff;
  transition: 0.8s;
}

table {
  border-collapse: collapse;
  margin: 16px auto;
  width:90%;
  border: 1px solid #fff;
}

th {
  border: 1px solid #fff;
  text-align: center;
}

td {
  padding: 4px;
  text-align: center;
  border:1px solid #fff
}

input {
  border: none;
}

ul {
  display: flex;
  justify-content: center;
  color: red;
  margin-top: 24px;
}

li {
  list-style: none;
}

/* class別 */
.background-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: #00000066;
  z-index: -1;
}

.border1 {
  border: solid 5px #fff;
  width: 70%;
  margin: 32px auto; 
  padding: 16px 16px 32px;
  position: relative;
  border-radius: 10px;
  display: none;
}

.top_todo {
  display: flex;
  justify-content: center;
}

.first_record {
  background-color:#139846b0;
}

.l_tb {
  width: 400px;
}

.delete_btn {
  display: block;
  border-radius: 4px;
  transition: 1.2s;
  padding: 4px 8px;
  text-decoration: none;
  color: #1ee96cc4;
}

.modal {
  margin-top: 200px;
}

.modal-body {
  text-align: center;
  color: #000;
}

.sub_table {
  margin-top: 100px;
}

.regist_btn,
.update_btn {
  cursor: pointer;
  padding: 8px;
  width: 150px;
  background: #139846b0;
  color: #fff;
  border-radius: 5px;
  display: block;
  margin: 32px auto 48px;
  transition: 0.8s;
  border: none;
  text-align: center;
}

.regist_btn:hover,
.update_btn:hover {
  background: #07421e;
}

.back {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  text-align: center;
}

.long_input {
  width:98%;
}

/* キャラの配置 */
.chara01 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 100;
}

.chara02 {
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index: 100;
  width: 150px;
}

.chara03 {
  position: absolute;
  bottom: 10%;
  left: 0%;
  z-index: 100;
  width: 150px;
  will-change: transform;
  transform-origin: center;
  backface-visibility: hidden;
}

.chara_img {
  height: 140px;
  width: 120px;
  display: block;
  pointer-events: none;
}


/* エラーページ */
.error_head {
  color: #fff;
  opacity: 0.6;
  margin-top: 32px;
}

.error_msg {
  text-align: center;
  margin-top: 170px;
  font-size: 40px;
  position: relative;
  color: #ffffff66;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
}

.error_msg2 {
  text-align: center;
  margin-top: 430px;
  font-size: 40px;
  position: relative;
  color: #ffffff66;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
}

.error_img {
  position: absolute;
  top: 0%;
  left: 35%;
  height: 100%;
  width: 500px;
  z-index: -1;
  filter: brightness(60%);
}

.error_back {
  margin-top: 340px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  text-align: center;
}

.error_back2 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  text-align: center;
}

/* ID別 */
#select {
  outline: none;
  border: none;
  padding: 8px;
  appearance: none;
  cursor: pointer;
  border-radius: 5px;
  background: inherit;
  font-size: 16px;
  transition: 0.8s;
  color: #1ee96cc4;
  text-align: center;
}
#select:hover {
  background: #07421e;
  color: #fff;
  transition: 0.8s;
}