{% extends "base.html" %}
{% block content %}
<div class="border1">
  <h1>タスク</h1>
  <div class="top_todo">
    <a href="/todo_regist" role="button" class="top_btn">タスク登録</a>
    {% if check %}
      <a href="/" role="button" class="top_btn">進行中のみ</a>
    {% else %}
      <a href="/todo_all" role="button" class="top_btn">全て表示</a>
    {% endif %}
  </div>
  {% if todo_list == [] %}
    <p>ToDoは未登録です</p>
  {% else %}
    <table border="1">
      <tr class="first_record">
        <th>件名</th>
        <th>詳細</th>
        <th>期限</th>
        <th>状況</th>
        <th></th>
        <th></th>
      </tr>
      {% for todo in todo_list %}
        <tr id="todo-{{ todo.id }}">
          <td>{{todo.title}}</td>
          <td class="l_tb">{{todo.detail}}</td>
          <td>{{todo.deadline}}</td>
          <td>
            <select class="status-select" data-id="{{ todo.id }}" id="select">
              <option value="進行中" {% if todo.status == '進行中'%}selected{% endif %}>進行中</option>
              <option value="完了" {% if todo.status == '完了'%}selected{% endif %}>完了</option>
            </select>
          </td>
          <td><a href="/{{todo.id}}/todo_edit" role="button">編集</a></td>
          <td>
            <a type="button" class="delete_btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{todo.id}}">削除</a>
          </td>

          <div class="modal fade" id="deleteModal{{todo.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{todo.id}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <div class="modal-body">
                  消しますか？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">やめとく</button>
                  <a href="/{{todo.id}}/todo_delete" class="btn">消す</a>
                </div>
              </div>
            </div>
          </div>

        </tr>
      {% endfor %}
      <div class="chara01">
        <img src="{{ url_for('static', filename='images/furyo.png') }}" alt="" class="chara_img" >
      </div>
    </table>
  {% endif %}
  <svg width="0" height="0">
    <path id="motionPath" d="M0,0 C100,100 200,0 300,100" fill="none"/>
  </svg>
</div>
{% endblock %}