{% extends "base.html" %}
{% block content %}
<div class="border1">
  <h1>タスク編集</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul >
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="POST">
    <table border="1" class="sub_table">
      <tr class="first_record"><th>件名</th><th>詳細</th><th>期限</th><th>状況</th></tr>
      <tr>
        <td>
          {% set t_value = title if title else (post.title if post else '') %}
          <input type="text" name="title" id="title" value="{{t_value}}">
        </td>
        <td class="l_tb">
          {% set d_value = detail if detail else (post.detail if post else '') %}
          <input type="text" name="detail" id="detail" value="{{d_value}}">
        </td>
        <td>
          {% set dead_value = deadline if deadline else (post.deadline if post else '') %}
          <input type="date" name="deadline" id="deadline" value="{{deadline or post.deadline}}">
        </td>
        <td>
          <select name="status" id="status">
            {% set s_value = status if status else (post.status if post else '') %}
            <option value="" {% if s_value == ''%}selected{% endif %}>選択してください</option>
            <option value="進行中" {% if s_value == '進行中'%}selected{% endif %}>進行中</option>
            <option value="完了" {% if s_value == '完了'%}selected{% endif %}>完了</option>
          </select>
        </td>
      </tr>
    </table>
    <input type="submit" value="更新" class="update_btn">
  </form>
  <div class="back">
    <a href="/">一覧に戻る</a>
  </div>
  <div class="chara03">
    <img  src="{{ url_for('static', filename='images/bike.png') }}" alt="" class="chara_img">
  </div>
</div>
{% endblock %}